%opensans-400{
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}
%opensans-600{
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}
%popp-400{
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}
%popp-500{
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
}
%popp-600{
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}